{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ambientacion.css' %}" />
  </head>
  <body>
    <div class="container ">
      <div class="main-container">
            <!--Barra de progreso-->
    {% include 'barraProgreso.html' %}
        <div class="row">
          <!-- Card 1 -->
          <div class="container ">
            <div class="main-container">
              <div class="card-body">
                <h5 class="card-title">Contenido en Vivo</h5>
                <button id="startCapture" class="btn btn-primary">
                  Iniciar Transmisión
                </button>
                <video
                  id="liveVideo"
                  width="100%"
                  height="400px"
                  style="border: none"
                  autoplay
                ></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
