{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/instrumentos.css' %}" />

  </head>
  <body>
    <div class="container ">
      <div class="main-container">
            <!--Barra de progreso-->
    {% include 'barraProgreso.html' %}
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Paso 1</h5>
                <p class="card-text">
                  Descripción del primer paso de la instrucción.
                </p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Paso 2</h5>
                <p class="card-text">
                  Descripción del segundo paso de la instrucción.
                </p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Paso 3</h5>
                <p class="card-text">
                  Descripción del tercer paso de la instrucción.
                </p>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Paso 4</h5>
                <p class="card-text">
                  Descripción del cuarto paso de la instrucción.
                </p>
              </div>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Paso 5</h5>
                <p class="card-text">
                  Descripción del quinto paso de la instrucción.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}
