{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <style>
      .modal-header {
        background-color: #007bff;
        color: white;
      }
      .modal-title {
        font-weight: bold;
      }
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }
      .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
      }
      .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
      }
      .btn-primary:hover,
      .btn-info:hover,
      .btn-danger:hover {
        opacity: 0.9;
      }
      .table th,
      .table td {
        text-align: center;
      }
      .table thead {
        background-color: #f8f9fa;
      }
      .table-responsive {
        margin-top: 20px;
      }
      .container {
        margin-top: 20px;
      }
      .list-group-item {
        cursor: pointer;
      }
      body {
        font-family: Arial, sans-serif;
      }
      .table thead th {
        background-color: #017c8c;
        color: white;
      }
      .btn-delete {
        background-color: #dc3545;
        color: white;
      }
      .star-rating {
        color: gold;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <h1>Diseñar evaluaciones</h1>
      <div class="row mb-3">
        <div class="col-md-6 d-flex align-items-center">
          <input type="text" id="searchInput" class="form-control me-2" placeholder="Búsqueda" /> 
          <button type="button" class="btn btn-primary">Filtrar</button>
        </div>
        <div class="col-md-6 text-right">
          <button
          type="button"
          class="btn btn-primary mb-3"
          data-toggle="modal"
          data-target="#crearModal"
        >
          Crear evaluación
        </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Fecha</th>
              <th>Casos de estres asociados a la evaluación</th>
              <th>Acciones</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            {% for evaluacion in evaluaciones %}
            <tr>
              <td>{{ evaluacion.nombre }}</td>
              <td>{{ evaluacion.descripcion }}</td>
              <td>{{ evaluacion.fecha }}</td>
              <td>
                {% for scenario in evaluacion.scenarios.all %}
                <li>{{ scenario }}</li>
                {% endfor %}
              </td>
              <td>
                <button
                  data-id="{{ evaluacion.id }}"
                  data-toggle="modal"
                  data-target="#verModal"
                  class="btn btn-info bi bi-eye"
                >
                </button>
                <button
                  data-id="{{ evaluacion.id }}"
                  data-toggle="modal"
                  data-target="#editarModal"
                  class="btn btn-warning bi bi-pencil-square "
                >
                </button>
                <button
                  data-id="{{ evaluacion.id }}"
                  data-toggle="modal"
                  data-target="#borrarModal"
                  class="btn btn-danger bi bi-trash "
                >
                </button>
              </td>
              <td>
                {% with evaluacion.scenarios.count as scenario_count %}
                  {% if scenario_count >= 8 %}
                    <span class="star-rating">★★★★★</span>
                  {% elif scenario_count >= 6 %}
                    <span class="star-rating">★★★★</span>
                  {% elif scenario_count >= 4 %}
                    <span class="star-rating">★★★</span>
                  {% elif scenario_count >= 2 %}
                    <span class="star-rating">★★</span>
                  {% else %}
                    <span class="star-rating">★</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Crear Modal -->
    <div
      class="modal fade"
      id="crearModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="crearModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="crearModalLabel">Crear Evaluación</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="crearForm">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <h6 for="nombre">Nombre</h6>
                    <textarea
                      type="text"
                      class="form-control"
                      id="nombre"
                      name="nombre"
                      required
                    /></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <h6 for="descripcion">Descripción</h6>
                    <textarea
                      class="form-control"
                      id="descripcion"
                      name="descripcion"
                      required
                    ></textarea>
                  </div>
                </div> 
                <div class="col-md-4">
                  <div class="form-group">
                    <h6 for="fecha">Fecha</h6>
                    <input
                      type="date"
                      class="form-control"
                      id="fecha"
                      name="fecha"
                      required
                    />
                  </div>
                </div>  
              </div>  
            
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <h5>Casos disponibles</h5>
                    <ul id="availableScenarios" class="list-group">
                      {% for scenario in scenarios %}
                      <li class="list-group-item" data-id="{{ scenario.id }}">
                        {{ scenario }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h5>Casos que tendrá la evaluación</h5>
                    <ul id="selectedScenarios" class="list-group"></ul>
                  </div>
                </div>
              </div>
              <input
                type="hidden"
                id="scenarios_orden"
                name="scenarios_orden"
              />
              <button type="button" class="btn btn-primary" id="crearBtn">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Ver Modal -->
    <div
      class="modal fade"
      id="verModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="verModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verModalLabel">Ver Evaluación</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>Nombre:</strong> <span id="verNombre"></span></p>
            <p>
              <strong>Descripción:</strong> <span id="verDescripcion"></span>
            </p>
            <p><strong>Fecha:</strong> <span id="verFecha"></span></p>
            <p><strong>Escenarios:</strong></p>
            <ul id="verScenarios"></ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Editar Modal -->
    <div
      class="modal fade"
      id="editarModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editarModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editarModalLabel">Editar Evaluación</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editarForm">
              <input type="hidden" id="editarId" />
              <div class="form-group">
                <input
                  type="hidden"
                  id="evaluacion_id"
                  name="evaluacion_id"
                  value="{{ evaluacion.id }}"
                />
                <label for="editarNombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="editarNombre"
                  name="nombre"
                  required
                />
              </div>
              <div class="form-group">
                <label for="editarDescripcion">Descripción</label>
                <textarea
                  class="form-control"
                  id="editarDescripcion"
                  name="descripcion"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="editarFecha">Fecha</label>
                <input
                  type="date"
                  class="form-control"
                  id="editarFecha"
                  name="fecha"
                  required
                />
              </div>
              <div class="form-group">
                <label for="editarScenarios">Escenarios</label>
                <div class="row">
                  <div class="col-md-6">
                    <h5>Casos disponibles</h5>
                    <ul id="editarAvailableScenarios" class="list-group">
                      {% for scenario in scenarios %}
                      <li class="list-group-item" data-id="{{ scenario.id }}">
                        {{ scenario }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h5>Casos que tendrá la evaluación</h5>
                    <ul id="editarSelectedScenarios" class="list-group"></ul>
                  </div>
                </div>
              </div>
              <input
                type="hidden"
                id="editarScenariosIds"
                name="scenarios_ids"
              />
              <button type="button" class="btn btn-primary" id="editarBtn">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Borrar Modal -->
    <div
      class="modal fade"
      id="borrarModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="borrarModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="borrarModalLabel">Borrar Evaluación</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que quieres borrar esta evaluación?</p>
            <button type="button" class="btn btn-danger" id="borrarBtn">
              Borrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(
                  cookie.substring(name.length + 1)
                );
                break;
              }
            }
          }
          return cookieValue;
        }
        const csrftoken = getCookie("csrftoken");

        function csrfSafeMethod(method) {
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });

        function updateOrderField() {
          let selectedOrder = [];
          $("#selectedScenarios .list-group-item").each(function () {
            selectedOrder.push($(this).data("id"));
          });
          $("#scenarios_orden").val(selectedOrder.join(","));
        }

        function updateEditOrderField() {
          var scenariosIds = [];
          $("#editarSelectedScenarios li").each(function () {
            var scenarioId = $(this).data("id");
            if (
              scenarioId !== undefined &&
              scenarioId !== null &&
              scenarioId !== ""
            ) {
              scenariosIds.push(scenarioId);
            }
          });
          $("#editarScenariosIds").val(scenariosIds.join(","));
        }

        $("#crearBtn").click(function () {
          updateEditOrderField();
          console.log("Datos enviados:", $("#crearForm").serialize()); // Verifica los datos enviados
          $.ajax({
            url: '{% url "nueva_evaluacion" %}',
            method: "POST",
            data: $("#crearForm").serialize(),
            success: function (response) {
              if (response.success) {
                location.reload();
              } else {
                alert("Error al crear la evaluación.");
              }
            },
            error: function (xhr, status, error) {
              console.log("Error:", error); // Verifica el error
              alert("Error al crear la evaluación.");
            },
          });
        });

        $("#editarModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          var id = button.data("id");
          var url = "{% url 'detalle_evaluacion' 0 %}".replace("0", id);
          $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
              $("#editarId").val(id);
              $("#editarNombre").val(data.nombre);
              $("#editarDescripcion").val(data.descripcion);
              $("#editarFecha").val(data.fecha);
              $("#editarSelectedScenarios").empty();
              $("#editarAvailableScenarios").empty();
              data.selected_scenarios.forEach(function (scenario) {
                $("#editarSelectedScenarios").append(
                  `<li class="list-group-item" data-id="${scenario.id}">${scenario.nombre}</li>`
                );
              });
              data.available_scenarios.forEach(function (scenario) {
                $("#editarAvailableScenarios").append(
                  `<li class="list-group-item" data-id="${scenario.id}">${scenario.nombre}</li>`
                );
              });
            },
          });
        });

        $("#editarBtn").click(function () {
          updateEditOrderField();
          var id = $("#editarId").val();
          var selectedScenarios = $("#editarScenariosIds").val();

          if (!selectedScenarios) {
            alert("No puede quedar sin casos para evaluar.");
            return;
          }

          $.ajax({
            url: "{% url 'editar_evaluacion' 0 %}".replace("0", id),
            method: "POST",
            data: {
              nombre: $("#editarNombre").val(),
              descripcion: $("#editarDescripcion").val(),
              fecha: $("#editarFecha").val(),
              scenarios_ids: selectedScenarios.split(","),
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },

            success: function (response) {
              if (response.success) {
                alert("Evaluación actualizada correctamente.");
                location.reload();
              } else {
                alert("Error2222: " + response.error);
              }
            },
            error: function (xhr, status, error) {
              console.error("Error:", error);
              alert("Ocurrió un error al actualizar la evaluación.");
            },
          });
        });

        $("#borrarModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          var id = button.data("id");
          var url = "{% url 'borrar_evaluacion' 0 %}".replace("0", id);
          $("#borrarBtn")
            .off("click")
            .on("click", function () {
              $.ajax({
                url: url,
                method: "POST",
                success: function (response) {
                  if (response.success) {
                    location.reload();
                  } else {
                    alert("Error al borrar la evaluación.");
                  }
                },
              });
            });
        });

        $("#verModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          var id = button.data("id");
          var url = "{% url 'detalle_evaluacion' 0 %}".replace("0", id);
          $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
              $("#verNombre").text(data.nombre);
              $("#verDescripcion").text(data.descripcion);
              $("#verFecha").text(data.fecha);
              $("#verScenarios").empty();
              data.selected_scenarios.forEach(function (scenario) {
                $("#verScenarios").append(`<li>${scenario.nombre}</li>`);
              });
            },
          });
        });

        new Sortable(document.getElementById("availableScenarios"), {
          group: "scenarios",
          animation: 150,
        });

        new Sortable(document.getElementById("selectedScenarios"), {
          group: "scenarios",
          animation: 150,
          onAdd: function (evt) {
            updateOrderField();
          },
          onRemove: function (evt) {
            updateOrderField();
          },
        });

        new Sortable(document.getElementById("editarAvailableScenarios"), {
          group: "scenarios",
          animation: 150,
        });

        new Sortable(document.getElementById("editarSelectedScenarios"), {
          group: "scenarios",
          animation: 150,
          onAdd: function (evt) {
            updateEditOrderField();
          },
          onRemove: function (evt) {
            updateEditOrderField();
          },
        });
      });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
{% endblock %}
