{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Evaluación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/elegirEvaluacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body> 
    <div class="row">
        <h3 style="color: #233666; text-align: left; margin-top: -45px">
            <i class="bi bi-people"></i> Formulario previo a la evaluación
          </h3>
          <hr class="custom-hr">
    </div>

<div class="row">
    <div class="col-6">
        <h3 ><i class="bi bi-card-text"></i> Datos del expositor</h3>
        {% for expositor in expositores %}
            {% if expositor.id == expositor_seleccionado.id %}
                <label for="nombre">Nombre</label>
                <p>{{ expositor.nombre }}</p>
                <br>
                <label for="observacion">Observación Inicial</label>
                <textarea id="observacion" readonly>{{ expositor.observacion_inicial }}</textarea>
            {% endif %}
        {% endfor %}
        <br>
    </div>

    <div class="col-6">
        <form method="POST" action="{% url 'elegir_evaluacion' expositor_seleccionado.id %}">
            {% csrf_token %}
            <h3><i class="bi bi-card-text"></i> Datos del evaluador</h3>
            <label for="fecha-evaluacion">Fecha de Evaluación</label>
            <input type="date" id="fecha-evaluacion" name="fecha_evaluacion" required>
            
            <label for="nombre-evaluador">Nombre del evaluador</label>
            <input type="text" id="nombre-evaluador" name="nombre_evaluador" required>
            
            <label for="evaluacion">Evaluación</label>
            <select id="evaluacion" name="evaluacion_id" required>
                <option value="">Seleccionar evaluación</option>
                {% for evaluation in evaluations %}
                <option value="{{ evaluation.id }}">{{ evaluation.nombre }}</option>
                {% endfor %}
            </select>

            <h3>Casos de estrés de la evaluación</h3>
            <div class="stress-cases" id="stress-cases" >
                <!-- Los escenarios se actualizarán aquí -->
            </div>
                    
            <br>
            
            {% for expositor in expositores %}
                {% if expositor.id == expositor_seleccionado.id %}
                    <div class="button">
                        <button class="btn btn-custom2 evaluarExpositorBtn" data-id="{{ expositor.id }}">
                            Evaluar expositor
                            <i class="bi bi-clipboard-pulse"></i>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </form>     
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Manejo del botón de evaluación
    $(document).ready(function () {
        $('#evaluarExpositorBtn').click(function () {
            var expositorId = $('#expositorId').val();
            var evaluacionId = $('#evaluacionId').val();
            var url = "{% url 'evaluar_expositor' 0 0 %}".replace('0', expositorId).replace('0', evaluacionId);
    
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    // Aquí puedes manejar el JSON recibido, por ejemplo, mostrarlo en la consola o procesarlo de alguna manera
                },
                error: function (error) {
                    console.error('Error al obtener los datos de la evaluación:', error);
                }
            });
        });

        $('.evaluacionPantallaBtn').click(function () {
            var id = $(this).data('id');
            var url = "{% url 'elegir_evaluacion' 0 %}".replace('0', id);
            window.location.href = url;
        });
    });

    // Datos de los escenarios (deberían estar en un formato JSON válido)
    const scenariosByEvaluation = {{ scenarios_by_evaluation|safe }};

    function updateScenarios() {
        const evaluationId = document.getElementById('evaluacion').value;
        const stressCasesDiv = document.getElementById('stress-cases');
        stressCasesDiv.innerHTML = '';

        if (evaluationId && scenariosByEvaluation[evaluationId]) {
            scenariosByEvaluation[evaluationId].forEach(scenario => {
                const severityClass = scenario.tag_name === 'high' ? 'red' :
                                      scenario.tag_name === 'medium' ? 'yellow' : 'green';
                const scenarioDiv = document.createElement('div');
                scenarioDiv.className = severityClass;
                scenarioDiv.innerHTML = `${scenario.function_name} <span>${scenario.duration} segundos</span>`;
                stressCasesDiv.appendChild(scenarioDiv);
            });
        }
    }

    // Inicializar escenarios al cargar la página si ya hay una evaluación seleccionada
    document.getElementById('evaluacion').addEventListener('change', updateScenarios);
    
</script>
<script type="application/json" id="scenarios-by-evaluation">
    {{ scenarios_by_evaluation|safe }}
</script>
</body>
</html>
{% endblock %}
