{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Evaluación</title>
    {% load static %}
    {% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}
        <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/elegirEvaluacion.css">
        <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/estilos.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/elegirEvaluacion.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% endif %}
    {% block extra_css %}{% endblock %}
</head>
<body> 
    <div class="row">
        <h3 style="color: #233666; text-align: left; margin-top: -45px">
            <i class="bi bi-people"></i> Formulario previo a la evaluación
          </h3>
          <hr class="custom-hr">
    </div>

<div class="row" style="color: #233666">
    <div class="col-6">
        <h3 ><i class="bi bi-card-text"></i> Datos del expositor</h3>
        {% for expositor in expositores %}
            {% if expositor.id == expositor_seleccionado.id %}
                <label for="nombre">Nombre</label>
                <p>{{ expositor.nombre }}</p>
                <br>
                <label for="observacion">Observación Inicial</label>
                <textarea id="observacion" readonly>{{ expositor.observacion_inicial }}</textarea>
            {% endif %}
        {% endfor %}
        <br>
        
    </div>

    <div class="col-6">
        <form method="POST" action="{% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}/easyflow{% endif %}{% url 'elegir_evaluacion' expositor_seleccionado.id %}">            {% csrf_token %}
            <h3><i class="bi bi-card-text"></i> Datos del evaluador</h3>
            <label for="fecha-evaluacion" style="color: #233666">Fecha de Evaluación</label>
            <input type="date" id="fecha-evaluacion" name="fecha_evaluacion" required>
            
            <label for="nombre-evaluador" style="color: #233666">Nombre del evaluador</label>
            <input type="text" id="nombre-evaluador" name="nombre_evaluador" value="{{ nombre_usuario }}" required>
            
            <h3 class="mt-3"> <i class="bi bi-folder-plus"></i> Casos de estrés de la evaluación</h3>
            
            <label for="evaluacion" style="color: #233666">Evaluación</label>
            <select class="mb-2" id="evaluacion" name="evaluacion_id" required>
                <option value="">Seleccionar evaluación</option>
                {% for evaluation in evaluations %}
                <option value="{{ evaluation.id }}">{{ evaluation.nombre }}</option>
                {% endfor %}
            </select>

            <div class="stress-cases" id="stress-cases" >
                <!-- Los escenarios se actualizarán aquí -->
            </div>
                    
            <br>
            
            {% for expositor in expositores %}
                {% if expositor.id == expositor_seleccionado.id %}
                    <div class="button">
                        <button class="btn btn-custom2 evaluarExpositorBtn mb-3" data-id="{{ expositor.id }}" id="evaluarExpositorBtn{{ expositor.id }}">
                            Evaluar expositor
                            <i class="bi bi-clipboard-pulse"></i>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </form>     
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fechaEvaluacionInput = document.getElementById("fecha-evaluacion");
        const today = new Date();
        const day = String(today.getDate()).padStart(2, '0');
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Los meses empiezan desde 0
        const year = today.getFullYear();
        const todayString = `${year}-${month}-${day}`;
        fechaEvaluacionInput.value = todayString;
    });

    // Manejo del botón de evaluación
    $(document).ready(function () {
        $('.evaluarExpositorBtn').click(function () {
            var expositorId = $(this).data('id');
            var evaluacionId = $('#evaluacion').val();
            if (evaluacionId) {
                var url = "{% url 'evaluar_expositor' 0 0 %}".replace('0/0', expositorId + '/' + evaluacionId);
                if (window.location.host === 'pacheco.chillan.ubiobio.cl') {
                    url = '/easyflow' + url;
                } else {
                    url = url;
                }
                window.location.href = url;
            } else {
                alert('Por favor, selecciona una evaluación.');
            }
        });

        $('.evaluacionPantallaBtn').click(function () {
            var id = $(this).data('id');
            var url = "{% url 'elegir_evaluacion' 0 %}".replace('0', id);
            if (window.location.host === 'pacheco.chillan.ubiobio.cl') {
                url = '/easyflow' + url;
            }
            window.location.href = url;
        });
    });

    // Datos de los escenarios (deberían estar en un formato JSON válido)
    const scenariosByEvaluation = {{ scenarios_by_evaluation|safe }};

    function updateScenarios() {
        const evaluationId = document.getElementById('evaluacion').value;
        const stressCasesDiv = document.getElementById('stress-cases');
        stressCasesDiv.innerHTML = '';

        if (evaluationId && scenariosByEvaluation[evaluationId]) {
            scenariosByEvaluation[evaluationId].forEach(scenario => {
                const severityClass = scenario.tag_name === 'high' ? 'red' :
                                      scenario.tag_name === 'medium' ? 'yellow' : 'green';
                const scenarioDiv = document.createElement('div');
                scenarioDiv.className = severityClass;
                scenarioDiv.innerHTML = `${scenario.function_name} <span>${scenario.duration} segundos</span>`;
                stressCasesDiv.appendChild(scenarioDiv);
            });
        }
    }

    // Inicializar escenarios al cargar la página si ya hay una evaluación seleccionada
    document.getElementById('evaluacion').addEventListener('change', updateScenarios);
</script>
<script type="application/json" id="scenarios-by-evaluation">
    {{ scenarios_by_evaluation|safe }}
</script>
</body>
{% include 'footer.html' %}
</html>
{% endblock %}