<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>Footer Fijo</title>
    {% load static %}
    {% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}
      <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/footer.css" />
    {% else %}
      <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    {% endif %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>   
    <footer>
      <div class="footer-content text-center">
        <h6>
          © I+D 24-19 - “Desarrollo de entorno de realidad virtual como prototipo de simulación para la realización de exposiciones orales en estudiantes universitarios y la caracterización de parámetros de la fluidez del habla y reactividad fisiológica”.
        </h6>
        <br>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>