{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}
        <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/estilos.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% endif %}
    <title>Formulario de Usuario</title>
</head>
<body>
    <div class="container">
        <h3 style="color: #233666; text-align: left; margin-top: -45px"><i class="bi bi-person-add"></i> {{ form.instance.id_usuario|default:"Crear" }} Usuario</h3>
        <hr class="custom-hr">
        <form method="post" action="{% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}/easyflow{% endif %}{% url 'crear_usuario' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_username">RUT</label>
                        <input type="text" class="form-control" id="id_username" name="username" required placeholder="12.345.678-9">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_first_name">Nombre</label>
                        <input type="text" class="form-control" id="id_first_name" name="first_name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_password1">Contraseña</label>
                        <input type="password" class="form-control" id="id_password1" name="password1" required placeholder="******">
                        <h6 style="color: #233666; text-align: left; margin-top: 10px"> La contraseña debe contener al menos 6 caracteres</h6>
                    </div>
                    <div class="form-group">
                        <label for="id_group">Rol</label>
                        <select class="form-control" id="id_group" name="group" required>
                            {% for group in form.fields.group.queryset %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_email">Correo electrónico</label>
                        <input type="email" class="form-control" id="id_email" name="email" required placeholder="correo@ubiobio.cl"> 
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_last_name">Apellido</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_password2">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="id_password2" name="password2" required placeholder="******">
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                  <div class="col text-end">
                    <button type="submit" class="btn btn-custom2 btn-block mt-3">Registrar</button>
                    <button onclick="location.href='{% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}/easyflow{% endif %}{% url 'listar_usuarios' %}'" class="btn btn-custom btn-block mt-3">Volver</button>
                  </div>
                </div>
              </div>
        </form>
        <br>
    </div>
    <script>
        document.getElementById('id_username').addEventListener('input', function (e) {
            let value = e.target.value.replace(/[^\dKk]/g, ''); // Permitir dígitos y la letra 'k'
            if (value.length > 2) value = value.slice(0, 2) + '.' + value.slice(2);
            if (value.length > 6) value = value.slice(0, 6) + '.' + value.slice(6);
            if (value.length > 10) value = value.slice(0, 10) + '-' + value.slice(10, 11);
            e.target.value = value;
        });
        
        document.getElementById('id_username').addEventListener('keydown', function (e) {
            if (e.key === 'Backspace' || e.key === 'Delete') {
                let value = e.target.value.replace(/[^\dKk]/g, ''); // Permitir dígitos y la letra 'k'
                if (value.length <= 2) {
                    e.target.value = value;
                } else if (value.length <= 5) {
                    e.target.value = value.slice(0, 2) + '.' + value.slice(2);
                } else if (value.length <= 8) {
                    e.target.value = value.slice(0, 2) + '.' + value.slice(2, 5) + '.' + value.slice(5);
                } else {
                    e.target.value = value.slice(0, 2) + '.' + value.slice(2, 5) + '.' + value.slice(5, 8) + '-' + value.slice(8, 9);
                }
            }
        });
    </script>
</body>
{% include 'footer.html' %}
</html>
{% endblock %}