{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Frecuencia Cardíaca en Tiempo Real</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

  <style>
    .main-container {
      margin: 20px auto;
    }
    .header-logo {
      max-width: 200px;
    }
    .header-text {
      font-size: 1.5rem;
      margin-left: 20px;
    }
    .content-left, .content-right {
      padding: 20px;
    }
    .content-right {
      background-color: #f8f9fa;
      border-radius: 8px;
    }
    .info-box {
      margin-bottom: 20px;
    }
    .info-box p {
      margin: 0;
    }
    .btn-evaluation {
      width: 100%;
    }
    .chart-container {
      margin-top: 20px;
    }
    .btn-custom {
      background-color: #246a7c; /* Color de fondo */
      color: white; /* Color del texto */
      border: none; /* Sin borde */
    }
    .btn-custom:hover {
      background-color: #1ea6c6; /* Mismo color que el estado normal */
    }

    .btn-custom2 {
      background-color: #1ea6c6; /* Color de fondo */
      color: white; /* Color del texto */
      border: none; /* Sin borde */
    }
    .btn-custom2:hover {
      background-color: #1ea6c6; /* Mismo color que el estado normal */
    }
  </style>
</head>
<body>
  <div class="container main-container">
    <div class="row mb-4">
    <div class="row">
      <div class="col-lg-8 content-left">
        <div>
          <div id="stage-1" class="stage-container">
            <div class="row">
              <div class="col-9">
            <i class="bi bi-1-circle"><strong> Colocación de instrumentos</strong></i> <i class="bi bi-chevron-right"></i> <i class="bi bi-2-circle"> Ambientación</i> <i class="bi bi-chevron-right"></i> <i class="bi bi-3-circle"> Evaluación</i>
            <p>Coloca los instrumentos necesarios en la persona.</p>
          </div>
          <div class="col-3">
            <button id="nextStage1" class="btn btn-custom">Siguiente etapa</button>
          </div>
        </div>
        </div>
          <div id="stage-2" class="stage-container" style="display: none;">
            <div class="row">
              <div class="col-9">
            <i class="bi bi-check2-circle"> Colocación de instrumentos</i> <strong><i class="bi bi-chevron-right"></i> <i class="bi bi-2-circle"> Ambientación</i></strong> <i class="bi bi-chevron-right"></i> <i class="bi bi-3-circle"> Evaluación</i>
            <p>Prepara a la persona para la evaluación.</p>
          </div>
          <div class="col-3">
            <button id="nextStage2" class="btn btn-custom">Siguiente etapa</button>
          </div>
            </div>
          </div>
          <div id="stage-3" class="stage-container" style="display: none;">
            <div class="row">
              <div class="col-9">
            <i class="bi bi-check2-circle"> Colocación de instrumentos</i> <strong><i class="bi bi-chevron-right"></i></strong> <i class="bi bi-check2-circle"> Ambientación</i> <strong><i class="bi bi-chevron-right"></i> <i class="bi bi-3-circle"> Evaluación</i></strong>
          </div>
          <div class="col-3">
            <div class="d-grid">
              <button type="submit" id="evaluationButton" class="btn btn-custom btn-evaluation">Iniciar evaluación</button>
            </div>
          </div>
            </div>
          </div>
          <br>
        <img src="/static/images/sala.jpeg" alt="Virtual Classroom" class="img-fluid">
        <div class="mt-3">
          {% for expositor in expositores %}
            {% if expositor.id == expositor_seleccionado.id %}
              <label for="nombre_expositor" class="form-label">Nombre Expositor</label>
              <input type="text" class="form-control" id="nombre_expositor" value="{{ expositor.nombre }}">
            {% endif %}
        {% endfor %}
          
        </div>
        <div class="mt-3">
          <form method="POST" action="{% url 'evaluar_expositor' expositor_seleccionado.id evaluacion.id %}">
          {% csrf_token %}
          <label for="tiempo-exposicion" class="form-label">Tiempo de Exposición</label>
          <div id="timer"class="form-control"></div>
        </form>

        </div>
      </div>

      </div>
      <div class="col-lg-4 content-right">
        <div class="info-box">
          <label for="fecha_evaluacion" class="form-label">Fecha Evaluación</label>
          <input type="date" class="form-control" id="fecha_evaluacion" value="2024-08-20">
        </div>
        <div class="info-box">

          {% for evaluacion in evaluaciones %}
            {% if evaluacion.id == ultima_evaluacion.id %}
              {% if evaluacion.expositor_id == expositor_seleccionado.id %}
                <label for="nombre_evaluador" class="form-label">Nombre Evaluador</label>
                <input type="text" class="form-control" id="nombre_evaluador" value="{{ evaluacion.nombre_evaluador }}">
              {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="info-box">
          <form id="evaluacionForm" method="POST" action="{% url 'evaluar_expositor' expositor_seleccionado.id evaluacion.id %}">
            {% csrf_token %}
            <input type="hidden" name="tiempo_total" id="tiempo_total" value="">
            <div class="info-box">
                <label for="observacionFinal" class="form-label">Observación Final</label>
                <textarea id="observacionFinal" class="form-control" name="observacion_final" rows="3" required></textarea>
            </div>
        </form>
        </div>
      
        
        <div class="info-box">
          <label class="form-label">Evaluación de prueba</label>
          <div class="d-grid gap-2">
              {% for escenario in escenarios %}
              <button class="btn {% if escenario.tag_name == 'high' %}btn-danger{% elif escenario.tag_name == 'medium' %}btn-warning{% elif escenario.tag_name == 'low' %}btn-success{% else %}btn-custom2{% endif %}">
                  {{ escenario.function_name }} - {{ escenario.duration }} segundos
              </button>
              {% endfor %}
          </div>
      </div>
        <div class="chart-container text-center" id="frecuencia_cardiaca">
          <label class="form-label"><pre>Frecuencia actual:   <span id="frecuencia"></span></pre></label>
          <canvas id="graficoFrecuencia"></canvas>
        </div>
        <div class="d-grid mt-3">
          <div>
            <div id="stage-1" class="stage-container">
              <button id="nextStage1" class="btn btn-custom">Siguiente etapa</button>
            </div>
            <div id="stage-2" class="stage-container" style="display: none;">
              <button id="nextStage2" class="btn btn-custom">Siguiente etapa</button>
            </div>
            <div id="stage-3" class="stage-container" style="display: none;">
              <div class="d-grid mt-3">
                <button type="submit" id="evaluationButton" class="btn btn-secondary btn-custom">Iniciar evaluación</button>
              </div>
            </div>
        </div>
        </div>
       
        
<script>
  let currentStage = 1;

  document.getElementById('nextStage1').addEventListener('click', function() {
    showStage(2);
  });

  document.getElementById('nextStage2').addEventListener('click', function() {
    showStage(3);
  });

  function showStage(stage) {
    document.querySelectorAll('.stage-container').forEach(function(container) {
      container.style.display = 'none';
    });
    document.getElementById('stage-' + stage).style.display = 'block';
    currentStage = stage;
  }

  // Inicializa en la primera etapa
  showStage(1);
          let isEvaluating = false;
          let startTime;
          let timerInterval;
        
          document.getElementById('evaluationButton').addEventListener('click', function(event) {
            event.preventDefault();
            const button = this;
            if (!isEvaluating) {
                // Start evaluation
                button.textContent = 'Finalizar evaluación';
                isEvaluating = true;
                startTime = new Date();
                timerInterval = setInterval(updateTimer, 1000);
            } else {
                // End evaluation
                button.textContent = 'Iniciar evaluación';
                isEvaluating = false;
                clearInterval(timerInterval);
                
                // Calculate total time
                const now = new Date();
                const elapsedTime = Math.floor((now - startTime) / 1000);
                document.getElementById('tiempo_total').value = elapsedTime;
        
                // Submit the form
                document.getElementById('evaluacionForm').submit();
            }
        });
        
        function updateTimer() {
          const now = new Date();
          const elapsedTime = Math.floor((now - startTime) / 1000);
          const minutes = Math.floor(elapsedTime / 60);
          const seconds = elapsedTime % 60;
          document.getElementById('timer').textContent = `${minutes}m ${seconds}s`;
      }
    // Inicializa el gráfico
    const ctx = document.getElementById('graficoFrecuencia').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [], // Etiquetas de tiempo
        datasets: [{
          label: 'Frecuencia Cardíaca (BPM)',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          data: [], // Datos de frecuencia
          fill: false
        }]
      },
      options: {
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'second'
            },
            title: {
              display: true,
              text: 'Tiempo'
            }
          },
          y: {
            beginAtZero: true,
            suggestedMax: 150,
            title: {
              display: true,
              text: 'BPM'
            }
          }
        }
      }
    });

    // Función para obtener la última frecuencia
    function obtenerFrecuencia() {
      fetch('/ultima_frecuencia2/')  // Asegúrate de que esta URL esté definida en Django
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            const frecuencia = data.value;
            const tiempoActual = new Date(data.timestamp);

            document.getElementById('frecuencia').textContent = frecuencia + ' BPM';

            // Agrega los datos al gráfico
            chart.data.labels.push(tiempoActual);
            chart.data.datasets[0].data.push(frecuencia);
            chart.update();

            // Limita el número de puntos en el gráfico
            if (chart.data.labels.length > 30) {
              chart.data.labels.shift();
              chart.data.datasets[0].data.shift();
            }
          } else {
            console.error('Error al obtener la frecuencia cardíaca:', data.message);
          }
        })
        .catch(error => {
          console.error('Error en la solicitud:', error);
        });
    }

    // Llama a la función para obtener la frecuencia inicialmente y luego cada 5 segundos
    obtenerFrecuencia();
    setInterval(obtenerFrecuencia, 3000);
</script>
</body>
</html>

{% endblock %}
