{% extends 'base.html' %} 
{% block content %}
    <link rel="stylesheet" href="../../static/css/carousel.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "poppins", sans-serif;
        background-color: #f9f9f9;
        font-size: 16px;
      }
      .container {
        max-width: 100%;
        padding: 0 15px;
        margin: auto;
      }
      .section {
        padding: 20px 0; /* Reduce el padding superior e inferior */
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .section-cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
      }
      .section-card {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        width: 100%;
        margin-bottom: 20px;
      }
      @media (min-width: 768px) {
        .section-card {
          width: 48%;
        }
      }
      .section-card:hover {
        transform: translateY(-10px);
        background-image: linear-gradient(45deg, #faafd4, #f7dde1);
        cursor: pointer;
      }
      .section-card span {
        display: block;
        background-color: #ff69b4;
        color: #ffffff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        margin: 0 auto 15px;
      }
      .section-card h2 {
        font-size: 24px;
        color: #333333;
        margin-bottom: 10px;
      }
      .section-card p {
        color: #666666;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .section-card a {
        display: inline-block;
        text-transform: capitalize;
        background-color: #ff69b4;
        color: #ffffff;
        padding: 8px 20px;
        border-radius: 25px;
        font-weight: 500;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
      }
      .section-card a:hover {
        background-color: #ff4486;
      }
      .chart-container {
        width: 100%;
        height: 400px;
        margin-top: 50px;
      }
    </style>
    <h1 style="color: #233666; text-align: left; margin-top: 0;">Bienvenido</h1> <!-- Elimina el margen superior -->
    <div class="container mt-5">
      <div class="row section-cards">
        <div class="col-md-6 section-card">
          <div class="card-body">
            <h5 class="card-title">Cantidad de Expositores</h5>
            <p class="card-text">{{ cantidad_usuarios }}</p>
          </div>
        </div>
        <div class="col-md-6 section-card">
          <div class="card-body">
            <h5 class="card-title">Cantidad de Evaluaciones Realizadas</h5>
            <p class="card-text">{{ cantidad_evaluaciones_realizadas }}</p>
          </div>
        </div>
      </div>
      <div class="row section-cards">
        <div class="col-md-6 mt-3 section-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edad de los Expositores</h5>
              <canvas id="expositoresChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3 section-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Evaluaciones Aplicadas</h5>
              <canvas id="evaluacionMasAplicadaChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('expositoresChart').getContext('2d');
        var expositoresChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{ expositores_labels|safe }},
            datasets: [{
              label: 'Conteo de Edades de los Expositores',
              data: {{ expositores_data|safe }},
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        var ctx2 = document.getElementById('evaluacionMasAplicadaChart').getContext('2d');
        var evaluacionMasAplicadaChart = new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: {{ evaluacion_labels|safe }},
            datasets: [{
              label: 'Cantidad de Aplicaciones',
              data: {{ evaluacion_data|safe }},
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>
{% endblock %}