{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block extra_css %}{% endblock %}

  </head>
  <body>
    <div class="container mt-4">
      <h1 style="color: #233666;">Lista de Evaluaciones Realizadas</h1>
      <div class="row mb-3">
        <div class="col-md-6 d-flex align-items-center">
          <input type="text" id="searchInput" class="form-control me-2" placeholder="Búsqueda" /> 
          <button type="button" class="btn btn-custom2">Filtrar</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Expositor</th>
              <th>Evaluador</th>
              <th>Fecha</th>
              <th>Acciones</th>
              <th>Exportar excel</th>
            </tr>
          </thead>
          <tbody>
            {% for evaluacion in evaluaciones_realizadas %}
            <tr>
              <td>{{ evaluacion.expositor }}</td>
              <td>{{ evaluacion.nombre_evaluador }}</td>
              <td>{{ evaluacion.fecha_evaluacion }}</td>
              <td>
                <button class="btn btn-info bi bi-eye verEvaluacionBtn" data-id="{{ evaluacion.id }}">
                  <i class="fas fa-eye"></i>
                </button>
                <button class="btn btn-warning bi bi-pencil-square editarEvaluacionBtn" data-id="{{ evaluacion.id }}">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger bi bi-trash borrarEvaluacionBtn" data-id="{{ evaluacion.id }}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal Ver Evaluación -->
    <div class="modal fade" id="verEvaluacionModal" tabindex="-1" role="dialog" aria-labelledby="verEvaluacionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verEvaluacionModalLabel">Detalles de la Evaluación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="verExpositor">Expositor</label>
                  <input type="text" class="form-control" id="verExpositor" readonly />
                </div>
                <div class="form-group">
                  <label for="verEvaluador">Evaluador</label>
                  <input type="text" class="form-control" id="verEvaluador" readonly />
                </div>
                <div class="form-group">
                  <label for="verFechaEvaluacion">Fecha</label>
                  <input type="date" class="form-control" id="verFechaEvaluacion" readonly />
                </div>
                <div class="form-group">
                  <label for="verObservacionInicial">Observación Inicial</label>
                  <textarea class="form-control" id="verObservacionInicial" readonly></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="verTiempoExposicion">Tiempo de Exposición</label>
                  <input type="text" class="form-control" id="verTiempoExposicion" readonly />
                </div>
                <div class="form-group">
                  <label for="verVideoEvaluacion">Video</label>
                  <div id="verVideoEvaluacion"></div>
                </div>
                <div class="form-group">
                  <label for="verObservacionFinal">Observación Final</label>
                  <textarea class="form-control" id="verObservacionFinal" readonly></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Evaluación -->
    <div class="modal fade" id="editarEvaluacionModal" tabindex="-1" role="dialog" aria-labelledby="editarEvaluacionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editarEvaluacionModalLabel">Editar Evaluación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form id="editarEvaluacionForm">
              <input type="hidden" id="editarEvaluacionId" name="evaluacion_id" />
              <input type="hidden" id="editarEvaluacionAplicada" name="evaluacion_aplicada" />
              <input type="hidden" id="editarExpositor" name="expositor" />
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="editarEvaluador">Evaluador</label>
                    <input type="text" class="form-control" id="editarEvaluador" name="nombre_evaluador" />
                  </div>
                  <div class="form-group">
                    <label for="editarFechaEvaluacion">Fecha</label>
                    <input type="date" class="form-control" id="editarFechaEvaluacion" name="fecha_evaluacion" />
                  </div>
                  <div class="form-group">
                    <label for="editarObservacionInicial">Observación Inicial</label>
                    <textarea class="form-control" id="editarObservacionInicial" name="observacion_inicial"></textarea>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="editarTiempoExposicion">Tiempo de Exposición</label>
                    <input type="text" class="form-control" id="editarTiempoExposicion" name="tiempo_exposicion" />
                  </div>
                  <div class="form-group">
                    <label for="editarVideoEvaluacion">Video</label>
                    <input type="text" class="form-control" id="editarVideoEvaluacion" name="video_evaluacion" />
                  </div>
                  <div class="form-group">
                    <label for="editarObservacionFinal">Observación Final</label>
                    <textarea class="form-control" id="editarObservacionFinal" name="observacion_final"></textarea>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Ver evaluación
        document.querySelectorAll(".verEvaluacionBtn").forEach(function (button) {
          button.addEventListener("click", function () {
            var evaluacionId = this.getAttribute("data-id");
            fetch("{% url 'detalle_evaluacionRealizada' 0 %}".replace("0", evaluacionId))
              .then((response) => response.json())
              .then((data) => {
                document.getElementById("verExpositor").value = data.expositor;
                document.getElementById("verEvaluador").value = data.nombre_evaluador;
                document.getElementById("verFechaEvaluacion").value = data.fecha_evaluacion;
                document.getElementById("verObservacionInicial").value = data.observacion_inicial;
                document.getElementById("verObservacionFinal").value = data.observacion_final;
                document.getElementById("verTiempoExposicion").value = data.tiempo_exposicion;
                document.getElementById("verVideoEvaluacion").innerHTML = data.video_evaluacion
                  ? '<a href="' + data.video_evaluacion + '">Ver Video</a>'
                  : "No disponible";
                var verEvaluacionModal = new bootstrap.Modal(document.getElementById("verEvaluacionModal"));
                verEvaluacionModal.show();
              });
          });
        });

        // Editar evaluación
        document.querySelectorAll(".editarEvaluacionBtn").forEach(function (button) {
          button.addEventListener("click", function () {
            var evaluacionId = this.getAttribute("data-id");
            fetch("{% url 'detalle_evaluacionRealizada' 0 %}".replace("0", evaluacionId))
              .then((response) => response.json())
              .then((data) => {
                document.getElementById("editarEvaluacionId").value = evaluacionId;
                document.getElementById("editarExpositor").value = data.expositor;
                document.getElementById("editarEvaluador").value = data.nombre_evaluador;
                document.getElementById("editarFechaEvaluacion").value = data.fecha_evaluacion;
                document.getElementById("editarObservacionInicial").value = data.observacion_inicial;
                document.getElementById("editarObservacionFinal").value = data.observacion_final;
                document.getElementById("editarTiempoExposicion").value = data.tiempo_exposicion;
                document.getElementById("editarVideoEvaluacion").value = data.video_evaluacion;
                
                var editarEvaluacionModal = new bootstrap.Modal(document.getElementById("editarEvaluacionModal"));
                editarEvaluacionModal.show();
              });
          });
        });

        //controlar editar

        document.getElementById("editarEvaluacionForm").addEventListener("submit", function (e) {
          e.preventDefault();
        
          var evaluacionId = document.getElementById("editarEvaluacionId").value;
          var formData = new FormData(this);
        
          fetch("{% url 'editar_evaluacionRealizada' 0 %}".replace("0", evaluacionId), {
            method: "POST",
            body: formData,
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                location.reload();  // Recargar la página tras la edición exitosa
              } else {
                console.log(data);  
                alert("Hubo un error al editar la evaluación.");
              }
            });
        });

        // Borrar evaluación
        document
          .querySelectorAll(".borrarEvaluacionBtn")
          .forEach(function (button) {
            button.addEventListener("click", function () {
              var evaluacionId = this.getAttribute("data-id");
              if (
                confirm("¿Estás seguro de que deseas eliminar esta evaluación?")
              ) {
                fetch(
                  "{% url 'borrar_evaluacionRealizada' 0 %}".replace(
                    "0",
                    evaluacionId
                  ),
                  {
                    method: "POST",
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                    },
                  }
                )
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.success) {
                      location.reload();
                    } else {
                      alert("Error al borrar la evaluación.");
                    }
                  });
              }
            });
          });
      });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
{% endblock %}