{% extends 'base.html' %} 
{% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    {% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}
    <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/estilos.css">
    <link rel="stylesheet" href="https://pacheco.chillan.ubiobio.cl/easyflow/static/css/modal.css">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
      <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    {% endif %}
  </head>
  <body>
    <h3 style="color: #233666; text-align: left; margin-top: -45px">
      <i class="bi bi-gear"></i> Administrar Usuarios
    </h3>
    <hr class="custom-hr">
    <div class="container mt-4">
      <div class="row mb-3">
        <div class="col-md-6 d-flex align-items-center">
          <form method="GET" action="{% url 'listar_usuarios' %}" class="d-flex">
            <input
              type="text"
              id="searchInput"
              name="q"
              class="form-control me-2"
              placeholder="Búsqueda"
              value="{{ query }}"
            />
            <button type="submit" class="btn btn-custom2">Buscar</button>
          </form>
          <div class="dropdown ml-3">
            <button class="btn btn-custom2 dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordenar por
            </button>
            <div class="dropdown-menu" aria-labelledby="sortDropdown">
              <a class="dropdown-item" href="?sort_by=username&order=asc{% if query %}&q={{ query }}{% endif %}">Nombre de usuario (A-Z)</a>
              <a class="dropdown-item" href="?sort_by=username&order=desc{% if query %}&q={{ query }}{% endif %}">Nombre de usuario (Z-A)</a>
              <a class="dropdown-item" href="?sort_by=email&order=asc{% if query %}&q={{ query }}{% endif %}">Email (A-Z)</a>
              <a class="dropdown-item" href="?sort_by=email&order=desc{% if query %}&q={{ query }}{% endif %}">Email (Z-A)</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          {% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}
            <a href="/easyflow{% url 'crear_usuario' %}" class="btn btn-custom2">Añadir usuario</a>
          {% else %}
            <a href="{% url 'crear_usuario' %}" class="btn btn-custom2">Añadir usuario</a>
          {% endif %}
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>RUT</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in page_obj %}
            <tr>
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
              <td>
                {% for grupo in usuario.groups.all %} {{ grupo.name }} {% if notforloop.last %}, {% endif %} {% endfor %}
              </td>
              <td>{{ usuario.email }}</td>
              <td>
                <button
                  data-id="{{ usuario.id }}"
                  class="btn btn-edit bi bi-pencil-square"
                  data-toggle="modal"
                  data-target="#editarUsuarioModal{{ usuario.id }}"
                ></button>
                <button
                  data-id="{{ usuario.id }}"
                  class="btn btn-delete bi bi-trash"
                  data-toggle="modal"
                  data-target="#borrarUsuarioModal{{ usuario.id }}"
                ></button>
              </td>
            </tr>

            <!-- Modal Editar Usuario -->
            <div
              class="modal fade"
              id="editarUsuarioModal{{ usuario.id }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editarUsuarioModalLabel{{ usuario.id }}"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                    <h5
                      class="modal-title"
                      id="editarUsuarioModalLabel{{ usuario.id }}"
                    >
                      Editar Usuario
                    </h5>
                    </div>
                    <div class="col-1">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                  </div>
                  <form
                    id="editarUsuarioForm{{ usuario.id }}"
                    method="POST"
                    action="{% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}/easyflow{% endif %}{% url 'editar_usuario' usuario.id %}"
                  >
                    {% csrf_token %}
                    <div class="modal-body mb-5">
                      <div class="form-group">
                        <label for="grupo{{ usuario.id }}">Rol</label>
                        <select
                          class="form-control"
                          id="grupo{{ usuario.id }}"
                          name="grupo"
                        >
                          {% for grupo in grupos %}
                          <option
                            value="{{ grupo.id }}"
                            {%
                            if
                            grupo
                            in
                            usuario.groups.all
                            %}selected{%
                            endif
                            %}
                          >
                            {{ grupo.name }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                      <button
                        type="button"
                        class="btn btn-lg btn-custom fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                        data-dismiss="modal"
                      >
                        Cancelar
                      </button>
                      <button type="submit" class="btn btn-lg btn-custom4 fs-6 text-decoration-none col-6 py-3 m-0 rounded-0">
                        Guardar cambios
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Modal Borrar Usuario -->
            <div
              class="modal fade"
              id="borrarUsuarioModal{{ usuario.id }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="borrarUsuarioModalLabel{{ usuario.id }}"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                      <h5 class="modal-title" id="borrarUsuarioModalLabel{{ usuario.id }}">
                        Eliminar Usuario
                      </h5>
                    </div>
                    <div class="col-1">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <form
                    method="POST"
                    action="{% if request.get_host == 'pacheco.chillan.ubiobio.cl' %}/easyflow{% endif %}{% url 'borrar_usuario' usuario.id %}"
                  >
                    {% csrf_token %}
                    <div class="modal-body text-center">
                      <h4 style="color: #233666">
                        ¿Estás seguro de que deseas eliminar al usuario: <strong> {{ usuario.first_name}} {{usuario.last_name }} ? </strong>
                      </h4>
                      <h6 style="color: #2C3E50" class="mb-0">Esta acción no se puede deshacer.</h6>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                      <button
                        type="button"
                        class="btn btn-lg btn-custom fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                        data-dismiss="modal"
                      >
                        Cancelar
                      </button>
                      <button type="submit" class="btn btn-delete fs-6 text-decoration-none col-6 py-3 m-0 rounded-0">
                        Eliminar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
        <div id="noResultsMessage" style="display: none;">No se encontraron resultados</div>
      </div>
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link" href="?q={{ query }}&sort_by={{ sort_by }}&order={{ order }}&page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        const isPacheco = window.location.host === 'pacheco.chillan.ubiobio.cl';
        console.log("isPacheco:", isPacheco);
    
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        const csrftoken = getCookie("csrftoken");
    
        function csrfSafeMethod(method) {
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
    
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });
    
        function parseDate(dateString) {
          // Intenta convertir cadenas comunes (como DD/MM/YYYY o YYYY-MM-DD) en objetos Date
          const parts = dateString.split(/[-/]/); // Admite '-' o '/' como separador
          if (parts.length === 3) {
            if (parts[0].length === 4) {
              // Formato: YYYY-MM-DD
              return new Date(parts[0], parts[1] - 1, parts[2]);
            } else {
              // Formato: DD/MM/YYYY
              return new Date(parts[2], parts[1] - 1, parts[0]);
            }
          }
          return new Date(dateString); // Último recurso: confiar en el constructor Date
        }
    
        function sortTable(column, order) {
          const table = document.querySelector('table tbody');
          const rows = Array.from(table.rows);
    
          rows.sort((a, b) => {
            let aText = a.querySelector(`td[data-column="${column}"]`).textContent.trim();
            let bText = b.querySelector(`td[data-column="${column}"]`).textContent.trim();
    
            if (column === 'date') {
              aText = parseDate(aText);
              bText = parseDate(bText);
            }
    
            if (order === 'asc') {
              return aText > bText ? 1 : -1;
            } else {
              return aText < bText ? 1 : -1;
            }
          });
    
          rows.forEach(row => table.appendChild(row));
        }
    
        document.addEventListener('DOMContentLoaded', function() {
          const searchInput = document.getElementById('searchInput');
          const table = document.getElementById('userTable');
          const noResultsMessage = document.getElementById('noResultsMessage');
    
          if (searchInput && table && noResultsMessage) {
            const rows = table.getElementsByTagName('tr');
    
            searchInput.addEventListener('input', function() {
              const filter = searchInput.value.toLowerCase();
              let hasResults = false;
    
              for (let i = 1; i < rows.length; i++) { // Start from 1 to skip table header
                let cells = rows[i].getElementsByTagName('td');
                let match = false;
    
                for (let j = 0; j < cells.length; j++) {
                  if (cells[j] && cells[j].getAttribute('data-column') === 'name') {
                    if (cells[j].innerText.toLowerCase().indexOf(filter) > -1) {
                      match = true;
                      break;
                    }
                  }
                }
    
                if (match) {
                  rows[i].style.display = '';
                  hasResults = true;
                } else {
                  rows[i].style.display = 'none';
                }
              }
    
              if (hasResults) {
                noResultsMessage.style.display = 'none';
              } else {
                noResultsMessage.style.display = 'block';
              }
            });
          }
        });
    
        $("#editarUsuarioModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          var id = button.data("id");
          var url = "{% url 'editar_usuario' 0 %}".replace("0", id);
          if (isPacheco) {
            url = '/easyflow' + url;
          }
          console.log("Edit URL:", url);
          $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
              console.log("Edit Data:", data);
              $("#editarId").val(id);
              $("#editarNombre").val(data.nombre);
              $("#editarFechaIngreso").val(data.fecha_ingreso);
              $("#editarFecha_nacimiento").val(data.fecha_nacimiento);
              $("#EditarEdad").val(data.edad);
              $("#editarGenero").val(data.genero);
              $("#editarCarrera").val(data.carrera);
              $("#editarSemestre_academico").val(data.semestre_academico);
              $("#editarObservacion_inicial").val(data.observacion_inicial);
              $("#editarObservacion_final").val(data.observacion_final);
            },
          });
        });
    
        $("#editarUsuarioForm{{ usuario.id }}").on("submit", function (event) {
          event.preventDefault();
          var formData = $(this).serializeArray();
          console.log("Form Data:", formData);
          var id = $("#editarId").val();
          var url = "{% url 'editar_usuario' 0 %}".replace("0", id);
          if (isPacheco) {
            url = '/easyflow' + url;
          }
          console.log("Edit Submit URL:", url);
          $.ajax({
            url: url,
            method: "POST",
            data: formData,
            success: function (response) {
              console.log("Edit Response:", response);
              if (response.success) {
                if (isPacheco) {
                  window.location.href = '/easyflow{% url "listar_usuarios" %}';
                } else {
                  window.location.href = '{% url "listar_usuarios" %}';
                }
              } else {
                alert("Error al editar el usuario.");
              }
            },
          });
        });
    
        $("#borrarUsuarioModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          var id = button.data("id");
          var url = "{% url 'borrar_usuario' 0 %}".replace("0", id);
          if (isPacheco) {
            url = '/easyflow' + url;
          }
          console.log("Delete URL:", url);
          $("#borrarUsuarioBtn")
            .off("click")
            .on("click", function () {
              console.log("Delete Button Clicked");
              $.ajax({
                url: url,
                method: "POST",
                data: {
                  csrfmiddlewaretoken: csrftoken,
                },
                success: function (response) {
                  console.log("Delete Response:", response);
                  if (response.success) {
                    if (isPacheco) {
                      
                      window.location.href 
                      = '/easyflow{% url "listar_usuarios" %}';
                    } else {
                      window.location.href = '{% url "listar_usuarios" %}';
                    }
                  } else {
                    alert("Error al borrar el usuario.");
                  }
                },
              });
            });
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  {% include 'footer.html' %}
</html>
{% endblock %}
