body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1aa0d5;
    color: white;
    height: 10vh; /* Altura relativa para el header */
}

.sidebar {
    height: calc(100% - 10vh); /* Ajusta la altura de la sidebar */
    width: 20vw; /* Ancho relativo para el sidebar */
    position: fixed;
    top: 10vh; /* Comienza después del header */
    left: 0;
    background-color: white;
    padding-top: 2vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar a {
    padding: 1vh 1.5vw;
    text-decoration: none;
    font-size: 1.8vh;
    color: #000;
    display: block;
    width: 100%;
}

.sidebar a:hover {
    background-color: #007bff;
    color: #fff;
}

.sidebar .nav-item {
    padding: 0.5vh 0;
}

.avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-info {
    text-align: center;
    margin-bottom: 2vh;
}

.user-info h6 {
    margin: 1vh 0 0.5vh;
    color: black;
}

.user-info p {
    margin: 0;
    color: gray;
}

.content {
    margin-left: 20vw;
    padding: 2vh;
    margin-top: 10vh;
    transition: margin-left 0.3s ease;
}

.content.full-width {
    margin-left: 0;
}

.header-icons img {
    width: 3.2vh;
    height: 3.2vh;
    border-radius: 50%;
}

form.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

form.search-bar input {
    width: 50%;
    border-radius: 1vh;
    border: none;
    padding: 0.5vh 1vh;
}

#toggle-sidebar {
    position: absolute;
    left: 20vw;
    top: 1.5vh;
    z-index: 1100;
    background-color: #1aa0d5;
    color: rgb(16, 14, 125);
    border: none;
    padding: 1vh 1.5vw;
    border-radius: 0.5vh;
    cursor: pointer;
}

#toggle-sidebar:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 25vw;
    }

    .content {
        margin-left: 25vw;
    }

    #toggle-sidebar {
        left: 25vw;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 0;
    }

    .sidebar.hidden {
        transform: translateY(-100%);
    }

    .content {
        margin-left: 0;
        margin-top: 0;
    }

    #toggle-sidebar {
        left: 1vw;
        top: 1vh;
    }
}