body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #6CC4D3;
    color: white;
    height: 12vh; /* Altura relativa para el header */
    overflow: hidden;
}

header a:hover{
    color: #233666;
    background-color: #6CC4D3;
    text-decoration: none;
}
header a{
    color: white;
    text-decoration: none;
}

.posicion-a {
    position: fixed; /* Fija el enlace en la pantalla */
    top: 6%; /* Centra el enlace verticalmente */
    left: 90%; /* Centra el enlace horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
    font-size: 2.4vh; /* Tamaño de fuente */
    color: white; /* Color del texto */
    max-width: 100%; /* Limita el tamaño máximo */
    max-height: 100%; /* Limita el tamaño máximo */
}



header img {
    position: fixed; /* La imagen no se moverá con el contenido */
    transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
    width: auto; /* Mantiene el ancho original */
    height: auto; /* Mantiene la altura original */
    max-width: 100%; /* Limita el tamaño máximo */
    max-height: 100%; /* Limita el tamaño máximo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    
  }
.tamano1{
    top: 6%; /* Centra la imagen verticalmente */
    left: 55%; /* Centra la imagen horizontalmente */
    width: 20.8vh; /* Ajusta el ancho relativo a la altura de la pantalla */
    height: auto; /* Mantiene las proporciones originales de la imagen */
  }
.tamano2{
    top: 6%; /* Centra la imagen verticalmente */
    left: 20%; /* Centra la imagen horizontalmente */
    width: 32.8vh; /* Ajusta el ancho relativo a la altura de la pantalla */
    height: auto; /* Mantiene las proporciones originales de la imagen */
  }

  /* Controlar el contenedor */
.fixed-image-container {
    height: 50px; /* Tamaño fijo del contenedor */
    width: auto; /* Adaptarse al contenido */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evitar desbordamientos */
  }


.sidebar {
    height: calc(100% - 10vh); /* Ajusta la altura de la sidebar */
    width: 20vw; /* Ancho relativo para el sidebar */
    position: fixed;
    top: 10vh; /* Comienza después del header */
    left: 0;
    background-color: #F0F8FF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar a {
    padding: 1vh 1.5vw;
    text-decoration: none;
    font-size: 3.2vh;
    color: #233666;
    display: block;
    width: 100%;
}


.sidebar a:hover {
    background-color: #6CC4D3;
    color: #fff;
}

.sidebar .nav-item {
    padding: 0.5vh 0;
}

.avatar {
    position: relative;
    top: 16%; /* Centra la imagen verticalmente */
    left: 0%; /* Centra la imagen horizontalmente */
    width: 11.8vh; /* Ajusta el ancho relativo a la altura de la pantalla */
    height: auto; /* Mantiene las proporciones originales de la imagen */
}

.user-info {
    text-align: center;
}

.user-info h6 {
    font-size: 3.4vh;
    color: #233666;
}

.user-info p {
    margin: 0;
    font-size: 2.4vh;
    color: gray;
}

.content {
    margin-left: 20vw;
    padding: 2vh;
    margin-top: 10vh;
    transition: margin-left 0.3s ease;
}

.content.full-width {
    margin-left: 0;
}

.header-icons img {
    width: 3.2vh;
    height: 3.2vh;
    border-radius: 50%;
}

form.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

form.search-bar input {
    width: 50%;
    border-radius: 1vh;
    border: none;
    padding: 0.5vh 1vh;
}

.btn-left-absolute {
    position: absolute;
    left: 0;
  }

  .btn-custom3 {
    background-color: #1ea6c6;
    color: white;
    border: none; 
  }

#toggle-sidebar {
    position: fixed;
    left: 2.5% !important;
    top: 6% !important;
    z-index: 1100;
    background-color:  #6CC4D3;
    color: white;
    border: none;
    padding: 1vh 1.5vw;
    border-radius: 0.5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.8vh;
    transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 25vw;
    }

    .content {
        margin-left: 25vw;
    }

    #toggle-sidebar {
        left: 25vw;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 0;
    }

    .sidebar.hidden {
        transform: translateY(-100%);
    }

    .content {
        margin-left: 0;
        margin-top: 0;
    }

    #toggle-sidebar {
        left: 1vw;
        top: 1vh;
    }
}
