footer {
  bottom: 0;
  width: 100%;
  border-top: 1px solid #233666;
  padding: 15px 0;
  font-size: 18px;
  color: #233666;
  display: flex;
  /* Cambié a center */
  align-items: center; /* Alinea verticalmente al centro */
  text-align: left; /* El texto también alineado en el centro */
  z-index: 1000;
}
.footer-content {
  display: flex;
  flex-grow: 1;
}

.contact-info div {
  margin-top: 30px !important; /* Espaciado entre correo y teléfono */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.contact-info i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}


.btn-custom2 {
  background-color: #1ea6c6; /* Color de fondo */
  color: white; /* Color del texto */
  border: 1px solid #1ea6c6 !important;
}
.btn-custom2:hover {
  background-color: #1ea6c6; /* Mismo color que el estado normal */
  }

  .btn-custom {
    background-color: #246a7c;
    color: white;
    border: none;
    transition: background-color 0.3s ease; /* Transición suave para hover */
  }
  
  .btn-custom:hover {
    background-color: #1ea6c6;
  }
  

